{% load i18n %}
<div class="col-md-4">
    <div class="jbg-badge jbg-badge-{{ badge.id }}">
        <h5 class="jbg-badge-title">{{ badge.name }}</h5>
        <p>{{ badge.description }}</p>
        {% if badge.self_assignable %}
            {% if request.user.member in badge.members.all %}
                <p><a href="{% url 'jbg:remove-badge' badge.id %}">{% translate "entfernen" %}</a></p>
            {% else %}
                <p><a href="{% url 'jbg:add-badge' badge.id %}">{% translate "hinzufügen" %}</a></p>
            {% endif %}
        {% endif %}
    </div>
</div>